<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.aboy.flutter_app_qiita">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->

    <application android:usesCleartextTraffic="true">
            <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing" android:value="false" />
            ...
        </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>
