<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.aboy.flutter_app_qiita">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application>
            
            ...
        </application>
</manifest>
